<!DOCTYPE html>
<html>
<head>
	<title> COLOR MIXER GAME</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.css">
</head>
	<body>
