	<% include ../partials/header %>

<div class= "container">
	<div class= "jumbotron">
		<div class= "container">
			<h2> CELEBRITY PHOTO-BLOG </h2>
			<p><em>its all about exploring.....</em></p>
			<a href= "/celebrities/new" class= "btn btn-success">Add New Celebrity</a>
			<form action="/celebrities" method="GET">
				<input class="form-search" type="text" name="fuzzySearch" placeholder="Search Celebrities">
			</form>
		</div>
	</div>
	<div class= "row">
		<% celebs.forEach(function(celeb){%>
			<div class= "col-md-4 col-sm-6">
				<div class= "thumbnail index text-center">
					<img src="<%= celeb.image %>">
					<div class= "caption">
						<p class= "h4 text-capitalize"><%= celeb.name %></p>
						<a href= "/celebrities/<%= celeb._id %>" class= "btn btn-sm btn-info">
						Read More</a>
					</div>
				</div>
			</div>
		<%})%>
	</div>
	<% if(noMatch){ %>
		<div class="text-center text-danger lead">
			<p>No celebrity match that query...please try again</p>
		</div>
	<% } %>
</div>

<% include ../partials/footer %> 