
html, body {
  background: #232323;
  width: 100%;
  height: 100%;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
#landing-header, a, #landing-header p {
  color: #fff;
  text-shadow: 2px 2px 5px black;
}
.btn-default {
  background: brown;
  color: #fff;
  border:none;
}
.btn-default:hover {
  background: #ddd;
  color: brown;
  box-shadow: 0 0 6px brown;
  text-shadow: 1px 1px 3px gray;
}
#slideshow { 
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
#slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
#slideshow li:nth-child(1) { 
  background-image: url(../celebPics/alicia-keys.jpg);
}
#slideshow li:nth-child(2) { 
  background-image: url(../celebPics/amber-rose-south-beach.jpg);
  animation-delay: 10s; 
}
#slideshow li:nth-child(3) { 
  background-image: url(../celebPics/beyonce-knowles-1024x768-17765.jpg);
  animation-delay: 20s; 
}
#slideshow li:nth-child(4) { 
  background-image: url(../celebPics/demi-lovato-joe-jonas76.jpg);
  animation-delay: 30s; 
}
#slideshow li:nth-child(5) { 
  background-image: url(../celebPics/barbie.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0;
    filter:sepia(0); 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    filter:sepia(1); 
    opacity: 1
  }
  30% {
    opacity: 0;
  }
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}