<% include partials/header %>

<div class= "container">
	<h1 class= "text-center"> Create New Campground</h1>
	<div class= "col-md-4 col-md-offset-4">
		<form action= "/celebrities" method= "POST">
			<div class= "form-group">
				<input class= "form-control" type= "text" name= "celeb[name]" placeholder= "Enter name of celebrities">
			</div>
			<div class= "form-group">
				<input class= "form-control" type= "text" name= "celeb[image]" placeholder= "Enter image url">
			</div>
			<div class= "form-group">
				<input class= "form-control" type= "text" name= "celeb[description]" placeholder= "Give descriptions">
			</div>
			<div class= "form-group">
				<input class= "btn btn-block" type= "submit">
			</div>
		</form>
	</div> 
<% include partials/footer %>