<h1> Create New Campgground</h1>

<form action= "/celebrities" method= "POST"> 
	<input type= "text" name= "name" placeholder= "enter name of celebrities">
	<input type= "text" name= "image" placeholder= "enter image url">
	<input type= "submit">
</form>