<% include partials/header %>

<div class= "container">
	<div class= "col-sm-4 col-sm-offset-4">
		<p class= "h2 text-center text-success">SIGN UP</p>
		<form action= "/register" method= "POST">
			<div class= "form-group">
				<label for="Username">Username:</label>
				<input id="Username" class= "form-control" type= "text" name= "username" placeholder= "username">
			</div>
			<div class= "form-group">
				<label for="Password">Password:</label>
				<input id="Password"class= "form-control" type= "password" name= "password" placeholder= "password">
			</div>
			<div class= "form-group">
				<label id="name">First Name:</label>
				<input for= "name" class="form-control" type= "text" placeholder= "first name" name= "firstName">
			</div>
			<div class= "form-group">
				<label id="name">Last name:</label>
				<input for= "name" class="form-control" type= "text" placeholder= "last name" name= "lastName">
			</div>
			<div class= "form-group">
				<label id="email">Email:</label>
				<input for= "email" class="form-control" type= "email" placeholder= "enter email" name= "email">
			</div>
			<div class= "form-group">
				<label id="avatar">Avatar:</label>
				<input for= "avatar" class="form-control" type= "text" placeholder= "upload image" name= "avatar">
			</div>
			<div class= "form-group">
				<label for="isAdmin">isAdmin:</label>
				<input id="isAdmin" class= "form-control" type= "text" name= "adminCode" placeholder= "isAdmin Code">
			</div>
			<div class= "form-group">
				<label ></label>
				<input class= "btn btn-success btn-block" type= "submit">
			</div>
		</form>
	</div>
</div>

<% include partials/footer %>